@charset "utf-8";

@media screen and (max-width: 500px) {

/* ! ---- 全体設定 ---- */

html {
    font-size: 16px;
}

.wrapper {
    width: 100%;
}

/* 非表示 */

nav, .top_btn, .fnav_box, .pc_br {
    display: none;
}

/* ! ---- Hero(TOP) セクション ---- */

.hero_section {
    height: 600px;
    width: 100vw;
    overflow: hidden;
}

/* ロゴ */

.logo {
    width: 40vw;
    height: auto;
    max-width: initial;
    min-width: initial;
}

.logo_bg {
    width: 45vw;
    height: auto;
    max-width: initial;
    min-width: initial;
}

/* キャッチコピー */

.copy_box {
    width: 200px;
    margin: 28px 0 0 50px;
}

.copy_box > p {
    font-size: 3.5vw;
    letter-spacing: 0.2vw;
    line-height: 5vw;
}

.title_box p {
    font-size: 0.2vw;
    line-height: 2vw;
    padding: 10px 0 0 1px;
    letter-spacing: 0.3vw;
    opacity: 0.8;
}

.pf_cursive {
    width: 50vw;
    position: absolute;
    top: 25vw;
    left: 0.1vw;
}

/* 顔写真 */

.face_img {
    position: absolute;
    top: 0;
    right: -260px;
    height: 120vw;
    max-height: 450px;
    width: auto;
    max-width: 1100px;
    overflow: hidden;
}

/* ! ---- Profile セクション ---- */

.profile_section {
    width: 70vw;
    margin: 0 auto;
}

.profile_title {
    width: 220px;
    height: auto;
}

.profile_text {
    font-size: 16px;
    line-height: 36px;
}

/* ! ---- Gallery セクション ---- */

.gallery_title {
    width: 250px;
    height: auto;
}

/* ポートフォリオページへのリンク */

.link_box {
    margin: 50px auto;
    width: 270px;
    padding: 10px 20px;
}

.link_box a {
    font-size: 16px;
    line-height: 26px;
}

/* !----- Message セクション ----- */

.message_section {
    width: 100vw;
    margin: 200px auto 0;
}

.message_box {
    width: 260px;
    margin: 0 auto;
}

.message {
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 2px;
}

.sign_box {
    text-align: center;
    margin: 28px auto 95px;
}

.sign {
    width: 70vw;
}

/* ! ---- フッター ---- */

footer {
    margin-top: 200px;
}

.footer_logo {
    min-width: 200px;
}

.footer_logo_bg {
    min-width: 250px;
}

.footer_nav_box {
    display: none;
}

.info_box {
    position: absolute;
    bottom: 60px;
    width: 250px;
    left: 30px;
    opacity: 0.8;
}

.info_name {
    font-size: 22px;
    margin-bottom: 10px;
}

.info_detail {
    font-size: 12px;
    line-height: 20px;
}

.mobile_br {
    /* display: inline; */
}

small {
    font-size: 10px;
}

}