@charset "utf-8";

@media screen and (max-width: 500px) {

html {
    scroll-behavior: auto;
}

/* ロゴ */

    .logo {
        position: relative;
        z-index: 5;
        width: auto;
        height: 14vh;
        top: 2vh;
        left: 2vh;
        /* display: none; */
    }

.menu_items, .item {
    display: none;
}
#g-nav-list {
    display: block;
}

/* コンテンツ */

    .gallery {
        gap: calc(100vh * 0.03);
        top: 55%;
        transform: translateY(-50%);
    }

    .pf {
        height: 70vh;
        width: auto;
    }

    .pf_box {
        height: 70vh;
        width: auto;
    }

    .description {
        display: none;
    }

/* フッター */

    footer {
        display: none;
    }

}
