@charset "utf-8";

@media screen and (max-width: 500px) {
  .logo {
    width: auto;
    height: 10vh;
    top: 1vh;
    left: 1vh;
  }

  .logo_bg {
    display: none;
  }

  .back_btn {
    margin: 3vh 1vh 0 0;
    width: auto;
    height: 7vh;
  }

  .pf {
    height: 70vh;
    width: auto;
  }

  footer {
    display: none;
  }
}
