@charset "utf-8";

#g-nav{
    position:fixed;
	z-index: -1;
	opacity: 0;
	top:0;
	width:100%;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	transition: all 0.7s;
}

#g-nav.panelactive{
	opacity: 1;
	z-index: 5000;
}


#g-nav.panelactive #g-nav-list{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.menu_items_outer {
    height: 100vh;
    width: 100vw;
    display: table;
    text-align: center;
}

.menu_items_inner {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 10vh;
}

.menu_items_box {
    display: inline-block;
    position: relative;
}

.menu_items {
    width: 60vw;
    max-width: 1000px;
}


/*ナビゲーション*/
#g-nav ul {
    display: none;
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/


.menu_logo {
    margin-bottom: 20px;
}

.section_line {
    color: gray;
}

#g-nav li{
	list-style: none;
    text-align: left;
}

#g-nav li a{
	color: black;
	text-decoration: none;
	padding:10px;
	display: block;
	letter-spacing: 0.1em;
}

/* ! ボタン */

.openbtn{
    z-index: 5000;
    position:fixed;
    top: 40px;
    right: 0;
	cursor: pointer;
    width: 150px;
    height: 50px;
}

.openbtn span{
    display: inline-block;
    transition: all .6s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: gray;
    opacity: 0.9;
  	width: 45%;
}

.openbtn span:nth-of-type(1) {
	top:15px;
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}