@charset "utf-8";

/* ! 全体設定 */

html {
  scroll-behavior: smooth;
  font-family: "Noto Serif JP", serif;
}

.body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  color: gray;
  font-size: 0.6vw;
}

/* ! ヘッダー */

header {
  position: fixed;
  z-index: 1200;
  width: 100%;
}

#g-nav-list{
  display: none;
}

/* ロゴ */

.header_logo {
  position: relative;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  height: calc(50vh - 18vw - 34px);
  width: auto;
  /* min-width: 200px; */
  /* min-height: 95.668px; */
  max-width: 350px;
  max-height: 167.42px;
  transition: transform 0.3s;
  line-height: calc(50vh - 18vw);
}

.logo:hover {
  transform: scale(1.02);
}

/* Contents(目次)へ戻るボタン */

.back_btn_box {
  position: fixed;
  right: 0;
  top: 0;
  height: calc(50vh - 18vw);
  width: 200px;
  min-height: 95.668px;
  max-height: 167.42px;
}

.back_btn {
  margin: 30px 30px 0 0;
  height: calc(50vh - 20vw);
  width: auto;
  min-width: 138.1px;
  min-height: 90px;
  max-width: 168.75px;
  max-height: 110px;
  opacity: 0.7;
  transition: transform 0.2s, opacity 0.2s;
}

.back_btn:hover {
  transform: scale(1.03);
  opacity: 1;
}

/* ! メインコンテンツ */

.gallery {
  display: flex;
  gap: calc(100vw * 0.02);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pf {
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.4);
  width: 100vw;
  /* height: auto; */
}

/* 「contents(目次)」ページのリンクの基準 */

.contents {
  display: inline;
  position: relative;
  width: 100vw;
}

.contents_description {
  position: absolute;
  top: 4vw;
  left: 58.6vw;
}

/* 「13 音楽」ページのリンクの基準 */

.music {
  display: inline;
  position: relative;
  width: 100vw;
}

.music_description {
  position: absolute;
  top: 0.8vw;
  left: 34.4vw;
}

/* ! ---- フッター ---- */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: calc(50vh - 18vw);
  color: gray;
  font-size: 16px;
}

footer p {
  line-height: calc(50vh - 18vw);
  margin-left: 3vw;
}
