@charset "utf-8";

/* ! ---- 全体設定 ---- */

body {
  font-family: 'Noto Serif JP', serif;
}

/* スクロールするとフワッと出てくるアニメーションの設定 */

.fadeIn {
  opacity: 0;
  transition: 2s;
}

.fadeIn.is-show {
  opacity: 1;
}

/* モバイルで挿入する<br> */

.mobile_br {
  display: none;
}

/* ! ---- ナビゲーション設定 ---- */

/* 画面左のナビゲーション */

nav {
  position: fixed;
  z-index: 1000;
}

.empty_box {
  display: inline-block;
  height: 12vw;
}

.nav_box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 0 0 16px;
}

.nav_btn {
  display: inline-block;
  z-index: 1000;
  transform: rotate(-90deg);
  text-decoration: none;
  color: black;
  font-size: 25px;
  width: 150px;
  padding-bottom: 100px;
}

/* アイコンボタン */

.media_btn {
  padding: 35px 0 0 8px;
  transition: transform 0.3s;
}

.media_btn:hover {
  transform: scale(1.1);
}

.music_btn {
  padding: 100px 0 0 7px;
}

/* トップへ戻るボタン */

.top_btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 5vw;
  max-width: 60px;
  transition-duration: 1s;
  z-index: 1000;
  transition: transform 0.3s;
}

.top_btn:hover {
  transform: scale(1.1);
}

/* ! ---- Hero(TOP) セクション ---- */

.hero_section {
  position: relative;
  height: 1170px;
  width: 100vw;
}

/* ロゴ */

.logo {
  /* background-image: url("img/logo-back.png"); */
  position: absolute;
  width: 16.4vw;
  max-width: 500px;
  min-width: 300px;
  height: auto;
  top: 30px;
  left: 30px;
}

.logo_bg {
  width: 17.7vw;
  height: auto;
  max-width: 450px;
  min-width: 340px;
}

/* キャッチコピー */

.copy_box {
  position: relative;
  z-index: 1000;
  width: 900px;
  margin: 150px auto;
  text-shadow: 0px 0px 16px white;
}

.copy1, .copy2, .copy3, .copy4, .copy5 {
  display: inline-block;
  font-size: 43px;
  line-height: 80px;
  letter-spacing: 4px;
}

.title_box p {
  position: relative;
  z-index: 2000;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2.5px;
  padding: 5px 0 0 5px;
}

.pf_cursive {
  width: 750px;
  position: absolute;
  top: 170px;
  left: -50px;
  z-index: 1000;
}

/* 顔写真 */

.face_img {
  position: absolute;
  top: 0;
  right: 0px;
  width: 60%;
  max-width: 1100px;
  z-index: 800;
}

/* ! ---- Profile セクション ---- */

.section_title_box {
  text-align: center;
  padding-top: 200px;
}/* セクションタイトル画像を中央揃え */
/* 各セクション外側の余白を設定 */

.profile_section {
  width: 800px;
  margin: 0 auto;
}

.profile_title {
  margin-bottom: 100px;
}

.profile_text {
  font-size: 20px;
  line-height: 60px;
}

/* ! ---- Gallery セクション ---- */

/* ポートフォリオページへのリンク */

.link_box {
  margin: 100px auto;
  width: 378px;
  background-color: #c9caca;
  padding: 15px 35px;
  border-radius: 12px;
}

.link_box a {
  display: block;
  font-size: 24px;
}

.portforio_link {
  text-decoration: none;
  color: black;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 3px;
}

/* 制作物画像のコンテナ */

.gallery_container {
  width: 100%;
  height: 295vw;
  position: relative;
}

/* !----- Message セクション ----- */

.message_section {
  width: 800px;
  margin: 30vw auto;
}

.message_box {
  width: 475px;
  margin: 0 auto;
}

.message {
  font-size: 30px;
  letter-spacing: 6px;
  line-height: 80px;
}

.sign_box {
  text-align: right;
}

/* ! ---- フッター ---- */

footer {
  position: relative;
  background-color: #c9caca;
  width: 100%;
  height: 400px;
}

.footer_nav_box {
  width: 100%;
  position: absolute;
  top: 40px;
  font-size: 28px;
  line-height: 60px;
}

.footer_nav_box ul{
  margin: 0 auto;
  width: 100px;
}

.footer_nav_item {
  color: black;
  text-decoration: none;
}

/* 個人情報 */

.info_box {
  position: absolute;
  bottom: 65px;
  right: 40px;
  width: 450px;
  margin-top: 50px;
  color: black;
}

.info_name {
  font-size: 30px;
  margin-bottom: 25px;
}

.info_detail {
  padding-left: 4px;
  font-size: 16px;
  line-height: 32px;
}

.mail_link {
  color: black;
}

/* コピーライト */

.copyright_box {
  position: absolute;
  bottom: 16px;
  width: 100%;
  text-align: center;
  color: gray;
}